/* For all the types of logos */
.home-svg-large {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline: 80px;
    padding-block-start: 32px;
}

/* Display only the large logo by default */

.home-svg-medium {
    display: none;
}

.home-svg-extra-small {
    display: none;
}

@media (max-width: 72rem) {
    /* Do not display the other logos apart from large one */

    .home-svg-medium {
        display: none;
    }

    .home-svg-extra-small {
        display: none;
    }
}

@media (max-width: 51rem) {
    /* Display only the medium logo */

    .home-svg-large {
        display: none;
    }

    .home-svg-medium {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-inline: 80px;
        padding-block-start: 32px;
    }
}

@media (max-width: 34rem) {
    /* Display only the extra small logo */

    .home-svg-large {
        display: none;
    }

    .home-svg-medium {
        display: none;
    }

    .home-svg-extra-small {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-inline: 80px;
        padding-block-start: 22px;
    }
}