.featured-container {
  align-items: center;
  justify-content: center;
  padding: 17% 25% 0 25%;
}

.featured {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  padding: 12px;
  font-size: 11px;
  justify-content: space-evenly;

  .featured-text {
    margin-top: -11px;
    margin-right: 2%;
    padding: 12px;
    text-align: justify;
  }

  .featured-image {
    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
  }
}
