$colors: (
  bar-1: #4d7cfe, 
  bar-2: #43a047, 
  bar-3: #fdd835, 
  bar-4: #ef9f1c,
  bar-5: #c62828
);

.bar-chart-container {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  overflow-y: auto;
}

.bar-chart-container > * {
  flex: 1;
  max-height: 100%;
  width: 100%;
}

.chart-wrapper {
  width: 100%;
  max-width: 600px;
  height: 100px;
  margin: 10px 0 -1em 0;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
}

.bar-chart {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.bar-item {
  width: 7%; // Distributes the bars evenly
  min-height: 5px;
  position: relative;
  transition: height 0.3s ease-in-out;
  border-radius: 5px 5px 0 0;
}

// Applying colors using a SASS loop and map
@each $class, $color in $colors {
  .#{$class} {
    background-color: $color;
  }
}

.bar-label {
  position: absolute;
  top: -25px; // Adjust based on desired position
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  white-space: nowrap;
  font-size: 12px;
  color: #333;
}

.legend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  margin-top: -3em;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: -4px 0 -10px 0;
  gap: 5px;
}

.legend-color-box {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.legend-label {
  font-size: 9px;
  color: #555;
}

@media (max-width: 47rem) {
  /* 753px */

  .bar-chart-container {
    padding-top: 0.6rem;
    .legend {
      .legend-item {
        .legend-label {
          font-size: 0.48rem;
        }
      }
    }
  }
}
