.container {
    .header {
        .dashboard-main-heading {
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
}

@media (max-width: 47rem) {
    /* 753px */

    .container {
        .header {
            .dashboard-main-heading {
                font-size: 1rem;
            }
        }
    }

    .section {
        .section-title {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 24.12rem) {
    /* 386px */

    .container {
        .header {
            .dashboard-main-heading {
                font-size: 0.9rem;
            }
        }
    }
}