// Variables
$bg: #ffffff;
$muted: #94a3b8;
$border: #eef2f7;
$accent: #1f5eff;
$text: #0f172a;

.main-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding-inline: 60px;
  padding-block-start: 20px;
}

.app-headline-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 80px;
  padding-block-start: 45px;
  gap: 12px;

  .cnapp-heading {
    font-size: 18px;
    font-weight: bold;
  }

  .cnapp-subheading {
    font-size: 13px;
  }
}

/* LG - SMALL LAPTOPS: 1024px - 1280px */

@media (max-width: 72rem) {
  /* 1153px / 16px = 72rem */

  .main-heading {
    font-size: 1.4rem;
    /* 22px / 16px = 1.4rem */

    padding-inline: 4rem;
    /* 80px / 16px = 5rem */
  }

  .app-headline-banner {
    padding-inline: 5rem;
    padding-block-start: 3rem;
    gap: 0.75rem;

    .cnapp-heading {
      font-size: 1.12rem;
    }

    .cnapp-subheading {
      font-size: 0.82rem;
    }
  }
}

/* MD - TABLETS (PORTRAIT): 768px - 1024px */

@media (max-width: 51rem) {
  /* 51rem x 16px = 816px */

  .main-heading {
    font-size: 1.15rem;
    padding-inline: 4rem;
  }

  .app-headline-banner {
    padding-inline: 5rem;
    padding-block-start: 2.2rem;
    gap: 0.45rem;

    .cnapp-heading {
      font-size: 0.9rem;
    }

    .cnapp-subheading {
      font-size: 0.58rem;
    }
  }
}

/* SM - PHONE LANDSCAPE: 576px - 768px */

@media(max-width: 43rem) {
  /* 43rem x 16px = 688px */

  
}

/* XS - PHONE PORTRAIT: 402px - 576px */

@media(max-width: 34rem) {
  /* 34rem x 16px = 544px */

  .main-heading {
    font-size: 0.84rem;
    padding-inline: 2rem;
  }

  .app-headline-banner {
    padding-inline: 5rem;
    padding-block-start: 2rem;
    gap: 0.38rem;

    .cnapp-heading {
      font-size: 0.63rem;
    }

    .cnapp-subheading {
      font-size: 0.4rem;
    }
  }
}

/* XXS - PHONE PORTRAIT: < 402px */

@media(max-width: 25rem) {
  /* 23rem x 16px = 400px */

  .main-heading {
    font-size: 0.65rem;
    padding-inline: 1rem;
  }

  .app-headline-banner {
    padding-inline: 5rem;
    padding-block-start: 2rem;
    gap: 0.38rem;

    .cnapp-heading {
      font-size: 0.51rem;
    }

    .cnapp-subheading {
      font-size: 0.32rem;
    }
  }
}
