.stacked-bar-container {
  width: 300px; 
  font-family: sans-serif;
  font-size: 12px;
  margin: 1.2em 0 0 0;
  padding-left: 1em;
}

.total-count {
  margin-bottom: 1em;
}

.bar {
  display: flex;
  height: 12px; 
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 8px;
}

.bar-segment {
  height: 100%;
}

.legend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px 12px;
  margin-top: 1.5em;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 11px;
  margin-bottom: .2em;
}

.legend-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 2px;
}

@media (max-width: 47rem) {
  /* 753px */

  .stacked-bar-container {
    padding-top: 0.6rem;

    .total-count {
      font-size: 0.5rem;
    }

    .legend {
      .legend-item {
        font-size: 0.48rem;
        padding-bottom: 0.1rem;
      }
    }
  }
}
