// Variables
$bar-color: #ccc; 
$stroke-width: 1.5;

.card {
  .widget-name {
    font-size: 16px;
    font-weight: bold;
  }

  .no-segmented-circle-container {
    display: flex;
    flex-direction: column;

    .no-segmented-circle {
      text-align: center;
    }
  }

  .no-bar-chart-container {
    display: flex;
    flex-direction: column;

    .no-bar-chart {
      justify-content: center;
    }

    .small {
      margin-top: 22px;
    }
  }

  .no-stacked-bar-chart-container {
    display: flex;
    flex-direction: column;

    .no-stacked-bar-chart {
      justify-content: center;
    }
  }

  .no-ticket-container {
    display: flex;
    flex-direction: column; 
    height: 100%;
    
    .no-ticket {
      text-align: center;
      margin-block: 55px;
    }
  }
}

.stocks-icon {
  width: 64px;
  height: 64px;
  color: #ccc; 
}

.stocks-bar {
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
}

.no-bar-chart {
  display: flex;
  padding: 1.25rem 0 1.75rem 0;
  margin-top: 2em;
}

.stacked-horizontal-bar-icon {
  width: 64px;
  height: 16px;
  stroke: $bar-color;
  fill: none;
}

.bar-segment rect {
  stroke: $bar-color;
  stroke-width: $stroke-width;
  fill: none;
}

.no-stacked-bar-chart {
  display: flex;
  padding-block: 3rem;
}

.ticket-icon {
  stroke: $bar-color;
  stroke-width: $stroke-width;
  fill: none;
  width: 80px;
  height: 80px;
}

@media (max-width: 47rem) {
  /* 753px */

  .card {
    .widget-name {
      font-size: 0.68rem;
    }

    .no-segmented-circle-container {
      .small {
        font-size: 0.5rem;
      }
    }

    .no-bar-chart-container {
      .small {
        margin-top: 2rem;
        font-size: 0.5rem;
      }
    }

    .no-stacked-bar-chart-container {
      .small {
        font-size: 0.5rem;
      }
    }

    .no-ticket-container {
      .no-ticket {
        margin-block: 32px
      }

      .small {
        font-size: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
}
