$border: #000;

.market-research-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 25%;
  padding-right: 18%;

  .market-research-content {
    font-size: 11px;
    opacity: 0;
    width: 70%;
    text-align: justify;
  }

  .market-research-content-alt {
    font-size: 11px;
    opacity: 0;
    width: 70%;
    text-align: justify;
  }

  .market-research-image-wrapper {
    transform: scale(0.5);
  }

  .market-research-content {
    transform: translateX(100px);
  }

  .market-research-content-alt {
    transform: translateX(-100px);
  }

  &.animate {
    .market-research-image-wrapper {
      animation: popIn 0.6s ease-out forwards;
    }

    .market-research-content {
      animation: slideFadeIn 0.8s ease-out forwards;
      animation-delay: 0.2s;
    }

    .market-research-content-alt {
      animation: slideFadeInReverse 0.8s ease-out forwards; 
      animation-delay: 0.2s;
    }
  }

  .market-research-image-wrapper {
    .market-research-image {
        height: 100%;
        width: 70%;
        border: 2px solid $border;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideFadeIn {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFadeInReverse {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0); 
    opacity: 1;
  }
}

@media (max-width: 80rem) {
  /* 1280px */

  .market-research-section {
    .market-research-content {
      font-size: 0.42rem;
      width: 14.2rem;
    }

    .market-research-content-alt {
      font-size: 0.42rem;
      width: 14.2rem;
    }

    .market-research-image-wrapper {
      .market-research-image {
        height: 8rem;
        width: 14.2rem;
      }
    }
  }
}

@media (max-width: 64.12rem) {
  /* 1026px */

  .market-research-section {
    .market-research-content {
      font-size: 0.42rem;
      width: 14.2rem;
    }

    .market-research-content-alt {
      font-size: 0.42rem;
      width: 14.2rem;
    }

    .market-research-image-wrapper {
      .market-research-image {
        height: 8rem;
        width: 14.2rem;
      }
    }
  }
} 

@media (max-width: 53.5rem) {
  /* 856px */

  .market-research-section {
    gap: 1.2rem;
    margin-left: -1.8rem;

    .market-research-content {
      font-size: 0.32rem;
      width: 10rem;
    }

    .market-research-content-alt {
      font-size: 0.32rem;
      width: 10rem;
    }

    .market-research-image-wrapper {
      .market-research-image {
        height: 6.2rem;
        width: 10rem;
      }
    }
  }
}

@media (max-width: 36.5rem) {
  /* 582px */

  .market-research-section {
    padding-inline: auto;
    margin-inline: auto;
    
    .market-research-content {
      font-size: 0.21rem;
      width: 8.6rem;
    }

    .market-research-content-alt {
      font-size: 0.21rem;
      width: 8.6rem;
    }

    .market-research-image-wrapper {
      .market-research-image {
        height: 4.84rem;
        width: 8.6rem;
      }
    }
  }
}

@media (max-width: 31.38rem) {
  /* 502px */

  .market-research-section {
    padding-left: 12%;
    padding-right: 5%;
    margin-inline: 0rem;
    justify-content: center;
    
    .market-research-content {
      font-size: 0.21rem;
      width: 8.6rem;
    }

    .market-research-content-alt {
      font-size: 0.21rem;
      width: 8.6rem;
    }

    .market-research-image-wrapper {
      .market-research-image {
        height: 4.84rem;
        width: 8.6rem;
      }
    }
  }
}
