.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.testimonial-modal {
  position: relative;
  background-color: #edf6fc;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  height: 61.4%;
  max-width: 800px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.close-button {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333333;
  z-index: 1200;
  cursor: pointer;
}

.close-button:hover {
    color: #6d6c6c;
}

.testimonial-content {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to top right, #b7c8fd 20%, #edf6fc 80%);
  border-radius: 8px;
  padding: 20px;
  height: 100%;
}

.testimonial-left {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.testimonial-left:hover .image-wrapper img {
  transform: scale(1.2) rotate(6deg);
}

.image-wrapper {
  width: 190px;
  height: 260px;
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  box-shadow:  5px 8px rgba(0, 0, 0, 0.12);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
  }
}

.testimonial-candidate-name {
    font-size: 18px;
    text-align: center;
    color: #111010;
}

.testimonial-divider {
  width: 10px;
  height: 100%;
  border-left: 3px dashed #444;
  margin: 0 20px;
}

.testimonial-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 18px;
}

.testimonial-text {
  margin-top: 8px;
  font-size: 12px;
  color: #151515;
}

.testimonial-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: transparent;
    gap: 7px;

    .testimonial-tag {
        padding-inline: 5px;
        padding-block: 3px;
        background-color: #cfcece;
        border-radius: 7px;
        font-size: 8px;
        color: #484747;
        cursor: default;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: #d3d1d1;
        }
    }

    .remaining-tags-indicator-text {
        font-size: 10px;
        color: #1f5eff;
        cursor: default;

        &:hover {
            color: #7399f8;
        }
    }
}

.testimonial-rating {
    display: flex;
    flex-direction: row;
    margin-top: auto;

    .rating-fraction {
        font-size: 22px;
        color: #6a6868;
        margin-left: 15px;
    }
}
